

.mainContentDiv{
    height: 90px;
    margin-top: 15px;
}
.iconDiv{
    width: 80px;
    float: left;
    border: solid 0.01em;
    height: 100%;


}
.iconDiv p{
    margin: 22px 0px 22px 0px;
padding: 0px;
text-align: center;
}
.totalDiv{
    /* width: 180px; */
    font-size: 21px;
    height: 100%;

    /* border: solid !important; */
    /* float: right; */
    /* border: solid 0.01em; */
}
.totalDiv p{
    padding: 25px 0px 0px 0px;
    margin: 0px;
      
}